*, *::before, *::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

a {
	color: var(--dark-87);
	text-decoration: none;
	transition: var(--transition-color);

	&:hover {
		color: var(--dark-60);
	}
}

body {
	color: var(--dark-87);
	font-size: 1.6rem;
	line-height: 3.2rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

html {
	background: var(--background-color);
	cursor: default;
	font-size: 62.5%;
}