@use '../abstracts/mixins' as *;

$headings: (
	h1: (font: 6.4rem, line: 8rem),
	h2: (font: 3.4rem, line: 4.8rem),
	h3: (font: 2.8rem, line: 4.2rem),
	h4: (font: 2.2rem, line: 3.6rem),
	h5: (font: 1.6rem, line: 3.2rem),
	h6: (font: 1.2rem, line: 2.4rem)
);

@each $h, $vals in $headings {
	#{$h} {
		@include heading(map-get($vals, font), map-get($vals, line));
		color: if($h == h6, var(--dark-60), var(--dark-100));
	}
}