.background {
	height: var(--background-height);
	overflow: hidden;
	position: relative;
  
	img {
		object-fit: cover;
		object-position: center;
	}
}

.background-dotted {
	background: url('/ooorganize.svg');
}

.background-waves {
	background: url('/oooscillate.svg');
	background-size: cover;
}