@use '../abstracts/mixins' as *;

.gallery {
	@include flex(row, nowrap, flex-start, flex-start, var(--gap-width-default));
}

.gallery-photo {
	flex: 1;
	line-height: 0;
	position: relative;

	img {
		height: auto;
		object-fit: cover;
		width: 100%;
	}
}