@use '../abstracts/mixins' as *;

$gaps: (
	none: var(--gap-width-none),
	small: var(--gap-width-small),
	smaller: var(--gap-width-smaller),
	default: var(--gap-width-default),
);

.grid {
	display: grid;
	gap: var(--gap-width-default);
	width: 100%;
}

.column {
	@include flex(column);
}

.row {
	@include flex;
	row-gap: var(--gap-width-smaller)
}

@each $name, $value in $gaps {
	.gap-#{$name} {
		gap: $value;
	}
}

@for $i from 1 through 4 {
	.columns-#{$i} { grid-template-columns: repeat($i, 1fr); }

	@for $j from 1 through 4 {
		.columns-#{$i}-#{$j} { grid-template-columns: #{$i}fr #{$j}fr; }
	}
}