$transitions: (
	background: background-color 0.2s ease,
	border: border 0.2s ease,
	color: color 0.2s ease,
	fill: fill 0.2s ease,
	size: transform 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946),
	transform: transform 0.4s ease
);

:root {
	// transitions
	@each $name, $val in $transitions {
		--transition-#{$name}: #{$val};
	}
}