@use '../abstracts/mixins' as *;

:root {
	// colours
	--color-black: 0, 0, 0;
	--color-white: 255, 255, 255;

	--opacity-100: 1;
	--opacity-87: 0.87;
	--opacity-60: 0.60;
	--opacity-38: 0.38;
	--opacity-24: 0.24;
	--opacity-12: 0.12;
	--opacity-6: 0.06;

	--dark-100: rgba(var(--color-black), var(--opacity-100));
	--dark-87: rgba(var(--color-black), var(--opacity-87));
	--dark-60: rgba(var(--color-black), var(--opacity-60));
	--dark-38: rgba(var(--color-black), var(--opacity-38));
	--dark-24: rgba(var(--color-black), var(--opacity-24));
	--dark-12: rgba(var(--color-black), var(--opacity-12));
	--dark-6: rgba(var(--color-black), var(--opacity-6));

	--light-100: rgba(var(--color-white), var(--opacity-100));
	--light-87: rgba(var(--color-white), var(--opacity-87));
	--light-60: rgba(var(--color-white), var(--opacity-60));
	--light-38: rgba(var(--color-white), var(--opacity-38));
	--light-24: rgba(var(--color-white), var(--opacity-24));
	--light-12: rgba(var(--color-white), var(--opacity-12));
	--light-6: rgba(var(--color-white), var(--opacity-6));

	// backgrounds
	--background-color: var(--light-100);
	--background-card: var(--light-100);

	// spacing
	--gap-width-none: 0;
	--gap-width-default: 4rem;
	--gap-width-small: 2.4rem;
	--gap-width-smaller: 1rem;
	--header-height: 12rem;
	--section-padding: 8rem 4rem;
	--section-padding-large: 16rem 8rem;
	--wrap-padding: 0 4rem;
	--wrap-padding-large: 0 8rem;

	// elements
	--background-height: 72rem;
	--profile-size: 28rem;
}