/* variables */

:root {
	// colours
	--color-black: 0, 0, 0;
	--color-white: 255, 255, 255;

	--opacity-100: 1;
	--opacity-87: 0.87;
	--opacity-60: 0.60;
	--opacity-38: 0.38;
	--opacity-24: 0.24;
	--opacity-12: 0.12;
	--opacity-6: 0.06;

	--dark-100: rgba(var(--color-black), var(--opacity-100));
	--dark-87: rgba(var(--color-black), var(--opacity-87));
	--dark-60: rgba(var(--color-black), var(--opacity-60));
	--dark-38: rgba(var(--color-black), var(--opacity-38));
	--dark-24: rgba(var(--color-black), var(--opacity-24));
	--dark-12: rgba(var(--color-black), var(--opacity-12));
	--dark-6: rgba(var(--color-black), var(--opacity-6));

	--light-100: rgba(var(--color-white), var(--opacity-100));
	--light-87: rgba(var(--color-white), var(--opacity-87));
	--light-60: rgba(var(--color-white), var(--opacity-60));
	--light-38: rgba(var(--color-white), var(--opacity-38));
	--light-24: rgba(var(--color-white), var(--opacity-24));
	--light-12: rgba(var(--color-white), var(--opacity-12));
	--light-6: rgba(var(--color-white), var(--opacity-6));

	// backgrounds
	--background-color: var(--light-100);
	--background-card: var(--light-100);

	// transitions
	--transition-background: background 0.2s ease;
	--transition-border: border 0.2s ease;
	--transition-color: color 0.2s ease;
	--transition-fill: fill 0.2s ease;
	--transition-size: transform 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	--transition-transform: transform 0.4s ease;

	// spacing
	--gap-responsive: 4rem;
	--gap-width-none: 0;
	--gap-width-default: 4rem;
	--gap-width-small: 2.4rem;
	--gap-width-smaller: 1rem;
	--gap-width-smallest: 0.6rem;
	--header-height: 12rem;
	--section-padding: 8rem 4rem;
	--section-padding-large: 16rem 8rem;
	--wrap-padding: 0 4rem;
	--wrap-padding-large: 0 8rem;

	// elements
	--background-height: 72rem;
	--profile-size: 28rem;
}

// mixins

@mixin flex($direction: row, $wrap: wrap, $align: flex-start, $justify: flex-start, $gap: var(--gap-width-default)) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	align-items: $align;
	justify-content: $justify;
	gap: $gap;
}

@mixin heading($font-size, $line-height, $weight: 500) {
	font-size: $font-size;
	line-height: $line-height;
	font-weight: $weight;
	overflow-wrap: break-word;
}

// base styles

*, *::before, *::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

a {
	color: var(--dark-87);
	text-decoration: none;
}

a, .icon {
	transition: var(--transition-color);

	&:hover {
		color: var(--dark-60);
	}
}

body {
	color: var(--dark-87);
	font-display: swap;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 1.6rem;
	line-height: 3.2rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

html {
	background: var(--background-color);
	cursor: default;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

// typography

$headings: (
	h1: (font: 6.4rem, line: 8rem),
	h2: (font: 3.4rem, line: 4.8rem),
	h3: (font: 2.8rem, line: 4.2rem),
	h4: (font: 2.2rem, line: 3.6rem),
	h5: (font: 1.6rem, line: 3.2rem),
	h6: (font: 1.2rem, line: 2.4rem)
);

@each $h, $vals in $headings {
	#{$h} {
		@include heading(map-get($vals, font), map-get($vals, line));
		color: if($h == h6, var(--dark-60), var(--dark-100));
	}
}

// layout

.grid {
	display: grid;
	gap: var(--gap-width-default);
	width: 100%;
}

.column, .row {
	width: 100%;
}

.column {
	@include flex(column);
}

.row {
	@include flex(row);
	row-gap: var(--gap-width-smaller)
}

// gaps

$gaps: (
	'none': var(--gap-width-none),
	'small': var(--gap-width-small),
	'smaller': var(--gap-width-smaller),
	'default': var(--gap-width-default),
	'responsive': var(--gap-width-responsive)
);

@each $name, $value in $gaps {
	.gap-#{$name} {
		gap: $value;
	}
}

// equal, dynamic columns

@for $i from 1 through 4 {
	.columns-#{$i} { grid-template-columns: repeat($i, 1fr); }

	@for $j from 1 through 4 {
		.columns-#{$i}-#{$j} { grid-template-columns: #{$i}fr #{$j}fr; }
	}
}

// header, footer

header, footer {
	@include flex(row, nowrap, center, space-between, 1.6rem);
	height: var(--header-height);
	padding: var(--wrap-padding);
	width: 100%;
}

header {
	background: var(--light-87);
	backdrop-filter: blur(50px);
	position: sticky;
	top: 0;
	transition: var(--transition-transform);
	z-index: 2;

	&.hidden { transform: translateY(-100%); }
	& .icon-menu { display: none; cursor: pointer; }
}

// icons

.icon {
	align-items: center;
	color: var(--dark-100);
	display: flex;
	height: 4.8rem;
	justify-content: center;
	padding: 1.2rem;
	width: 4.8rem;

	& svg {
		height: 100%;
		width: 100%;
	}
}

.icon-menu, .icon-scrolltotop {
	cursor: pointer;
}

// cards

.card {
	@include flex(column);
	background: var(--background-card);
	background-clip: padding-box;
	border-radius: 2rem;
	box-shadow: 0 0 0 0.1rem var(--dark-12) inset;
	gap: var(--gap-width-none);
	transition: var(--transition-background), var(--transition-size);
  
	&:hover {
		background: var(--background-card-hover);
		transform: scale(1.01);
	}

	a {
		line-height: 0;
	}

	img {
		border-radius: 2rem 2rem 0 0;
		height: auto;
		width: 100%;
	}

	.card-content {
		@include flex(column);
		gap: var(--gap-width-smaller);
		padding: 2rem;
	}
}

.icon-card-link {
	color: var(--dark-38);
	height: 3.4rem;
	padding: 0.7rem;
	width: 3.4rem;

	&:hover {
		color: var(--dark-87);
	}
}

// tags

.tag {
	border: 0.1rem solid var(--dark-12);
	border-radius: 1rem;
	padding: 0.4rem 1.2rem;
}

// buttons

$button-bg: (
	white: (bg: var(--white-100), color: var(--black-100), hover: var(--white-60)),
	black: (bg: var(--black-100), color: var(--white-100), hover: var(--black-60)),
	light: (bg: var(--light-100), color: var(--dark-100), hover: var(--light-60)),
	dark:  (bg: var(--dark-100), color: var(--light-100), hover: var(--dark-60))
);

.button {
	@include flex(row, nowrap, center, center, 1.4rem);

	cursor: pointer;
	font-size: 1.4rem;
	font-weight: 500;
	height: 4rem;
	padding: 0 2rem;
	backdrop-filter: blur(20px);
	transition: var(--transition-background), var(--transition-border), var(--transition-size);

	&:hover {
		transform: scale(1.02);
	}

	&.round {
		border-radius: 3rem;
	}
	
	&.rounded {
		border-radius: 0.4rem;
	}
	
	&.large {
		font-size: 1.6rem;
		gap: 2rem;
		height: 6rem;
		padding: 0 3rem;

		.icon {
			margin: -1.6rem;
		}
	}
	
	&.small .icon {
		height: 4rem;
		width: 4rem;
	}
	
	&.outline {
		border: 0.2rem solid var(--dark-6);
	
		&:hover {
			border-color: var(--dark-24);
		}
	}
}



@each $name, $vals in $button-bg {
	.button.#{$name} {
	  background: map-get($vals, bg);
	  color: map-get($vals, color);
  
	  &:hover { background: map-get($vals, hover); }
  
	  & .icon { color: map-get($vals, color); }
	}
}

// layouts

section {
	@include flex(column, nowrap, flex-start, flex-start, var(--gap-width-default));
	padding: var(--section-padding);
	width: 100%;
  
	&.large {
		padding: var(--section-padding-large);
	}

	&.center, &.center .column {
		align-items: center;
		text-align: center;
	}

	&.right, &.right .column {
		align-items: flex-end;
		text-align: right;
	}

	&.justified, &.justified .column {
		align-items: space-between;
		text-align: flex-start;
	}

	&.offset {
		width: 67vw;
	}

	&.offset-right {
		margin-left: auto;
	}
}

// backgrounds

.background {
	height: var(--background-height);
	overflow: hidden;
	position: relative;
  
	img {
		object-fit: cover;
		object-position: center;
	}
}

.background-dotted {
	background: url('/ooorganize.svg');
}

.background-waves {
	background: url('/oooscillate.svg');
	background-size: cover;
}

// introduction

section {
	&.introduction {
		@include flex(row, nowrap, center, space-between, 4rem);

		.column {
			width: auto;
		}
	}
}

.profile {
	height: var(--profile-size);
	width: var(--profile-size);
	position: relative;

	& img {
		border-radius: 50%;
		height: 100%;
		width: 100%; }
}

// menu

nav {
	@include flex(column, nowrap, flex-start, space-between, var(--gap-width-default));
	background: var(--background-color);
	display: none;
	height: 100vh;
	height: -webkit-fill-available;
	padding: var(--wrap-padding);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;

	& .nav-body {
		flex-wrap: nowrap;
	}

	& .nav-footer {
		align-items: center;
		height: var(--header-height);
	}

	& .nav-heading {
		align-items: center;
		justify-content: flex-end;
		height: var(--header-height);
	}
}

// gallery

.gallery {
	@include flex(row, nowrap, flex-start, flex-start, var(--gap-width-default));
}

.gallery-photo {
	flex: 1;
	line-height: 0;
	position: relative;

	img {
		height: auto;
		object-fit: cover;
		width: 100%;
	}
}

// dark mode

@media (prefers-color-scheme: dark) {
	:root {
		// swap dark and light roles
		--dark-100: rgba(var(--color-white), var(--opacity-100));
		--dark-87: rgba(var(--color-white), var(--opacity-87));
		--dark-60: rgba(var(--color-white), var(--opacity-60));
		--dark-38: rgba(var(--color-white), var(--opacity-38));
		--dark-24: rgba(var(--color-white), var(--opacity-24));
		--dark-12: rgba(var(--color-white), var(--opacity-12));
		--dark-6: rgba(var(--color-white), var(--opacity-6));

		--light-100: rgba(var(--color-black), var(--opacity-100));
		--light-87: rgba(var(--color-black), var(--opacity-87));
		--light-60: rgba(var(--color-black), var(--opacity-60));
		--light-38: rgba(var(--color-black), var(--opacity-38));
		--light-24: rgba(var(--color-black), var(--opacity-24));
		--light-12: rgba(var(--color-black), var(--opacity-12));
		--light-6: rgba(var(--color-black), var(--opacity-6));

		// background
		--background-card: var(--dark-6);
		--background-card-hover: var(--dark-12);
	}

	.card {
		box-shadow: none;
	}

	.tag {
		background-color: var(--dark-6);

	}
}

// responsive

@media only screen and (max-width: 960px) {
	:root {
		--header-height: 10rem;
		--gap-responsive: 1rem;
		--section-padding: 4.8rem 2.4rem;
		--section-padding-large: 8rem 4.8rem;
		--wrap-padding: 0 2.4rem;
		--wrap-padding-large: 0 2.4rem;
		--background-height: 60rem;
		--profile-size: 18rem;
	}

	header .icon-menu {
		display: flex;
	}

	nav {
		display: flex;
	}

	section {
		&.introduction {
			@include flex(column-reverse, nowrap, flex-start, flex-start, 6rem);

			.column {
				gap: var(--gap-width-small);
			}
		}

		&.offset {
			width: 100%;
		}
	}

	.gallery, .gallery .column {
		gap: var(--gap-width-small);
	}

	.grid {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 640px) {
	html {
		font-size: 57.5%;
	}
}